body {
    background-color: hsla(11,80%,38%,1);
    /* background-image: url(https://i.imgur.com/gWvqkcY.png) */
    margin: auto 0;
    min-height: 100%;
    min-width: 100%;
    font-family: 'Montserrat', sans-serif;
}

.nav {
    height: 50px;
    width: 100vw;
    background-color: #ffffff;
    position: fixed;
    top: 0;
    /* width: 100%; */
    z-index: 100;
    left: 0;
}