body {
    background-color: #db9833;
    /* background-image: url(https://i.imgur.com/gWvqkcY.png) */
    margin: auto 0;
    min-height: 100%;
    min-width: 100%;
    font-family: 'Montserrat', sans-serif;
}

/*#myUL {*/
/*    display: grid;*/
/*    !*flex-wrap: wrap;*!*/
/*    text-align: center;*/
/*    width: 80%;*/
/*    float: bottom;*/
/*    align-content: center;*/
/*    grid-gap: 10px;*/
/*    grid-template-columns: repeat(3, 1fr);*/
/*    grid-template-rows: repeat(3, 1fr);*/
/*    background-color: #f6d8ac;*/
/*    justify-content: center;*/
/*    padding-top: 100px;*/
/*}*/
ul{
    padding-inline-start: 0;
}
i{
    color: darkred;
}

#title {
    float: left;
    margin-left: 30px;
    font-size: 30px;
    margin-block: 8px;
}

.robotCard {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 45vh;
    height: 55vh;
    margin: auto;
    margin-bottom: 30px;
    /* background-image: url(https://i.imgur.com/JQ1gcq4.png); */
    border-radius: 5%;
    background-color: #f6d8ac;
}

#name {
    font-size: 2em;
    font-family: 'Montserrat', sans-serif;
    width: 100%;
}
#email{
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
}
.nav {
    height: 50px;
    width: 100vw;
    background-color: #ffffff;
    position: fixed;
    top: 0;
    /* width: 100%; */
    z-index: 100;
    left: 0;
}

/*img {*/
/*    border-radius: 50%;*/
/*}*/

.search {
    /* width: 50%; */
    margin-top: 5px;
}

#myInput {
    width: 30%;
    font-size: 15px;
    background-color: rgb(241, 230, 230);
    margin-left: 40px;
    height: 30px;
}
.restaurants{
    display: flex;
    flex-wrap: wrap;
    right: 0;
    top: 0;
    justify-content: space-between;
    align-content: center;
    text-align: center;
    width: 100%;
    background-color: #f6d8ac;
    padding-top: 100px;
    min-height: 100%;
    min-width: 100%;
}



