#myUL {
    display: grid;
    flex-wrap: wrap;
    width: 80%;
    /* height: 100vh; */
    text-align: center;
    margin: auto;
    margin-top: 100px;
    grid-gap: 10px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);

}

#title {
    font-family: 'SEGA LOGO FONT', sans-serif;
    float: left;
    margin-left: 30px;
    font-size: 30px;
    margin-block: 8px;

}

body {
    background-color: rgba(223, 27, 27, 0.767);
    /* background-image: url(https://i.imgur.com/gWvqkcY.png) */
}

.robotCard {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 375px;
    height: 500px;
    margin: auto;
    margin-bottom: 30px;
    /* background-image: url(https://i.imgur.com/JQ1gcq4.png); */
    border-radius: 5%;
}

#name {
    font-size: 50px;
}
#email{
    font-size: 20px;
}
.nav {
    height: 50px;
    width: 100vw;
    background-color: #ffffff;
    position: fixed;
    top: 0;
    /* width: 100%; */
    z-index: 100;
    left: 0;
}

img {
    border-radius: 50%;
}

.search {
    /* width: 50%; */
    margin-top: 5px;
}

#myInput {
    width: 50%;
    font-size: 15px;
    background-color: lightgray;
    margin-left: 40px;
    height: 30px;
}